.header {
  position: absolute;
  padding: 40px 0;
  z-index: 1000;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: auto;
}
.navigation {
  display: flex;
  align-items: center;
}
.header__icon_link {
  margin-right: 71px;
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__contacts_wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}
