.header {
  position: absolute;
  padding: 40px 0;
  z-index: 1000;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: auto;
}
.navigation {
  display: flex;
  align-items: center;
}
.header__icon_link {
  margin-right: 71px;
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__contacts_wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__contacts_btn {
  background-color: transparent;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 20px;
  color: var(--secondary-text-color-theme-dark);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  &:hover {
    background-color: var(--accent-color);
  }
}
