:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-light: #303030;
  --background-color: #f7f7f7;
  --accent-color: #ff6c00;
  --transition: 250ms linear;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-text-color-theme-dark);
  &:hover {
    color: var(--accent-color);
  }
}

button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1280px;
  padding-left: 55px;
  padding-right: 55px;
  margin: auto;
}

.button {
  width: 160px;
  height: 40px;
  background-color: transparent;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  &:hover {
    background-color: var(--accent-color);
    color: var(--secondary-text-color-theme-dark);
  }
}
.light__theme_btn {
  color: var(--secondary-text-color-theme-light);
}
.dark__theme_btn {
  color: var(--secondary-text-color-theme-dark);
  display: block;
  margin: auto;
}
.section_span {
  flex-grow: 1;
  border-bottom: 1px solid var(--primary-text-color-theme-dark);
  opacity: 0.12;
}
